.menu {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: none;
    border-right: 1px solid var(--default-button);
}

.menu p {
    margin: 10px 0;
    padding: 0 5px;
    color: var(--default-color);
    font-weight: bold;
    font-size: 1rem;
}

.button {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 5px;
    gap: 10px;
    color: var(--default-color);
    background-color: transparent;
    opacity: .8;
}

.menu .current {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 5px;
    gap: 10px;
    color: var(--default-color);
    background-color: var(--contrast-button);
    border-radius: 5px;
    opacity: 1;
}

.button .external {
   margin-left: auto;
}

.button:hover {
    border: none;
    background-color: var(--contrast-button);
    border-radius: 5px;
}

.menu  .current:hover {
    cursor: pointer;
}

.menu .button:hover > svg {
    fill: var(--default-icon);
    width: 1.2em;
    height: 1.2em;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


  