.projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: fit-content;
    gap: 20px;
    position: relative;
}

.projeto_img {
    width: 100%;
    border-radius: 5px;
}

.projeto-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.projeto-conteudo .projeto-conteudo--title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
}

.projeto-conteudo p {
    font-size: .75rem;
    font-weight: 400;
    color: var(--default-color);
}

.projeto-conteudo_tecs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.projeto-conteudo_tecs p {
    width: 100%;
}

.projeto-conteudo_tecs--tecs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.projeto-conteudo_tecs--tecs p {
    border: none;
    border-radius: 5px;
    background-color: var(--contrast-button);
    padding: 4px;
}

.borderCard {
    padding: 2rem;
    border: none;
    border: 1px solid var(--default-color);
    border-radius: 10px;
}