.projeto-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.projeto-btns a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    gap: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.projeto-btns .projeto-btns--visitar {
    opacity: .9;
    transition: all .2s;
}

.projeto-btns .projeto-btns--visitar:hover {
    cursor: pointer;
    opacity: 1;
}

.projeto-btns .projeto-btns--codigo {
    background-color: transparent;
    transition: all .2s;
}

.projeto-btns .projeto-btns--codigo:hover {
    cursor: pointer;
}

@Media (max-width: 768px) {
    .projeto-btns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}